<div class="columns mt-5 p-3">
  <div class="box mt-5 mb-5 column is-three-fifths is-offset-one-fifth">
    <h1 class="mt-5 has-text-centered title"><%= I18n.translate('register') %></h1>
    <%= form_tag(sessions_path) do %>
    <% if (flash.any?) %>
      <% flash.each do |name, message| %>
      <div class="message is-danger">
          <div class="message-body"><%= message %></div>
      </div>
      <% end %>
    <% end %>

      <div class="field">
        <%= label(:email, I18n.translate('email'), class: 'label') %>
        <div class="control has-icons-left">
          <%= text_field_tag(:email, nil, class: 'input', placeholder: 'e.g. david.etanoel@gmail.com') %>
          <span class="icon is-small is-left">
             <i class="fas fa-envelope"></i>
           </span>
        </div>
      </div>

      <div class="field">
        <%= label(:password, I18n.translate('password'), class: 'label') %>
        <div class="control has-icons-left">
          <%= password_field_tag(:password, nil, class: 'input', placeholder: 'e.g. me@epfl.ch') %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </div>
      </div>

       <div class="field">
         <div class="control has-icons-left">
           <%= submit_tag "Se connecter", class: 'button is-primary mt-3' %>
         </div>
       </div>
    <% end %>
    <p class="mt-5"> <%= I18n.translate('not_registered') %> <%= link_to I18n.translate('register'), "signup" %>
  </div>
</div>
