<%= form_for(article) do |form| %>
  <% if article.errors.any? %>
    <%= render partial: 'model_errors', locals: { model: article } %>
  <% end %>

  <div class="box-article">

    <h1 class="title"> <i class="fas fa-tools fa-2x"></i> Créer un nouvel article </h1>

    <h3 class="subtitle is-6 mt-5"> <i class="fas fa-image fa-lg"></i> Télécharger une image </h3>

    <fieldset>
      <%= form.label :image, class: 'label' %>
      <div class="">
        <%= form.file_field :image, class: 'input' %>
      </div>
    </fieldset>

    <div class="media-content"><br>
      <label class="label" id="article[alt]">Veuillez insérer un descriptif à l'image</label>
      <input class="input" name="article[alt]" placeholder="Descriptif..."></input>
    </div>

    <div class="media-content"><br>
      <label class="label" id="article[title]">Veuillez entrer le titre de l'article</label>
      <input class="title is-4 input" name="article[title]" placeholder="Titre..."></input>
    </div>

    <div class="media-content"><br>
      <label class="label" id="article[page]">Sélectionner les vues dans lesquelles l'article apparaitra</label>

      <p class="mt-3">Like a boss</p>
      <div class="select">
        <select name="article[group1]">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>

      <p class="mt-3">Artistes</p>
      <div class="select">
        <select name="article[group2]">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>

      <p class="mt-3">Stories de ouf</p>
      <div class="select">
        <select name="article[group3]">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>

      <p class="mt-3">Tinder fails</p>
      <div class="select">
        <select name="article[group4]">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>

      <p class="mt-3">Zen tu seras</p>
      <div class="select">
        <select name="article[group5]">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>

      <p class="mt-3">Spoiler pour flemmards</p>
      <div class="select">
        <select name="article[group6]">
          <option value="1">Oui</option>
          <option value="0">Non</option>
        </select>
      </div>
    </div>

    <div class="is-flex is-justify-content-space-between mt-3">

      <div class="control mt-3">
        <%= form.submit "Créer l'article", class: 'button is-primary' %>
      </div>

      <div class="mt-3 ml-5">
        <%= link_to 'Annuler', "#{I18n.locale }home", class: 'button is-info' %>
      </div>

    </div>

  </div>

<% end %>
