<div class="columns mt-5 p-3">
  <div class="box mt-5 mb-5 column is-three-fifths is-offset-one-fifth">
    <h1 class="mt-5 has-text-centered title">Modifier ses données</h1>
    <%= form_for(@user) do |form| %>
      <% if @user.errors.any? %>
        <%= render partial: 'model_errors', locals: { model: @user } %>
      <% end %>

      <div class="field">
        <%= form.label(:name, 'Prénom', class: 'label') %>
        <div class="control has-icons-left">
          <%= form.text_field(:name, class: 'input') %>
          <span class="icon is-small is-left">
            <i class="fas fa-pen-alt"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= form.label(:last_name, 'Nom de famille',  class: 'label') %>
        <div class="control has-icons-left">
          <%= form.text_field(:last_name, class: 'input') %>
          <span class="icon is-small is-left">
            <i class="fas fa-pen-alt"></i>
          </span>
        </div>
      </div>

      <fieldset>
        <%= form.label :avatar, class: 'label' %>
        <div class="">
          <%= form.file_field :avatar, class: 'input' %>
        </div>
      </fieldset>

      <div class="field">
        <%= form.label :email, 'Email', class: 'label' %>
        <div class="control has-icons-left">
          <%= form.email_field :email, class: 'input', placeholder: 'e.g. david.etanoel@gmail.com' %>
          <span class="icon is-small is-left">
             <i class="fas fa-envelope"></i>
           </span>
        </div>
      </div>

      <p class="mt-3 mb-3"><strong>Nom d'utilisateur:</strong> <em><%= @user.username %></em> <%= I18n.translate('modify') %>

       <div class="field">
         <div class="control has-icons-left">
           <%= form.submit "Sauvegarder", class: 'button is-primary' %>
         </div>
       </div>
    <% end %>
  </div>
</div>
