<div class="columns mt-5 p-3">
  <div class="box mt-5 mb-5 column is-three-fifths is-offset-one-fifth">
    <h1 class="mt-5 has-text-centered title">Entrer une nouvelle question</h1>
    <%= form_for(@game) do |form| %>
      <% if @game.errors.any? %>
        <%= render partial: 'model_errors', locals: { model: @game } %>
      <% end %>

      <div class="field">
        <%= form.label(:question, 'Question de la semaine', class: 'label') %>
        <div class="control has-icons-left">
          <%= form.text_area :question, class: 'input', placeholder: "Qu'est-ce qui est pratiqué par les romains dans les arènes ?" %>
          <span class="icon is-small is-left">
            <i class="fas fa-question"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <%= form.label :response, 'Réponse', class: 'label' %>
        <div class="control has-icons-left">
          <%= form.email_field :response, class: 'input', placeholder: 'gladiateurs' %>
          <span class="icon is-small is-left">
             <i class="fas fa-pen"></i>
           </span>
        </div>
      </div>

       <div class="field">
         <div class="control has-icons-left">
           <%= form.submit "Enregistrer la question", class: 'button is-primary' %>
         </div>
       </div>
    <% end %>
  </div>
</div>
