<div class="p-3">
  <h1 class="title"><i class="fas fa-trophy mr-3"></i>PROVISORI Media <%= I18n.translate('game') %></h1>
  <% if flash.any? %>
    <% flash.each do |name, message| %>
        <p class="notification is-info is-light"><%= message.html_safe %></p>
    <% end %>
  <% end %>
    <div class="card has-background-success-light	">
      <div class="card-content">
        <div class="content">

          <h2 class="subtitle is-4 has-text-centered"> <i class="fas fa-hat-wizard mr-3"></i> <%= I18n.translate('enigma') %> </h2>

          <% if current_user_role == 'admin' %>
            <%= render partial: 'enigme_admin', locals: { enigme: @enigme, has_found: @has_found, game: @game } %>
          <% else %>
            <%= render partial: 'enigme', locals: { enigme: @enigme, has_found: @has_found, game: @game } %>
          <% end %>
      </div>
    </div>
  </div>

</div>
