<div class="half-page mt-3">
  <% if notice != nil %>
    <div>
      <p class="notification is-info is-light"><%= notice.html_safe %></p>
    </div>
  <% end %>
  <div class="card">
    <div class="card-content">
      <div class="mt-5">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://provisorimedia-elements.s3.amazonaws.com/Thomas.jpg" alt="Placeholder image" class="rounded" >
          </figure>
        </div>
        <div class="media-content"><br>
          <h1 class="title"><%= @article.title %> </h1>
          <p class="subtitle is-6">Thomas Pfefferlé</p>
        </div>
        <div class="media-right">
          <em><i class="fas fa-heart fa-1x is-black"></i>
            <% if @article.likes.count <= 1 %>
              <span id="count"><%= @article.likes.count %></span> <span id="like_article"><%= I18n.translate('like_article') %></span>
            <% else %>
              <span id="count"><%= @article.likes.count %></span> <span id="like_article"><%= I18n.translate('likes_article') %></span>
            <% end %>
          </em>
        </div>
      </div>

      <br>

      <div id="new_elements">

        <% if @article.elements.present?

          @article.elements.each do |element| %>

            <%= render partial: 'elements_show', locals: { element: element } %>

          <% end %>

        <% end %>

        <div class="display is-inline-flex mt-5">

          <p id="like"> <strong><%= I18n.translate('liked') %> </strong> </p>


          <% if logged_in? %>

            <span class="p-3 mt-2_negative">

              <% if @article.liked?(current_user) %>
                   <%= link_to like_path(@article), method: "put", :remote => true do %>
                      <i id="delete_i" class="fas fa-heart fa-2x"></i>
                   <% end %>
              <% else %>
                  <%= link_to like_path(@article), method: "put", :remote => true do %>
                      <i id="add_i" class="far fa-heart fa-2x"></i>
                  <% end %>
              <% end %>

            <% end %>
          </span>

        </div>

        <p class="mt-5"> <em><%= I18n.translate('share') %>: </em></p>

        <div class="display is-flex mt-3">

          <a href="https://www.facebook.com/sharer/sharer.php?u=<%= @original_url %>" target="_blank" class="button is-black">
            <i class ="fab fa-facebook"></i>
          </a>
          <a href="whatsapp://send?text=Voici un article intéressant: <%= @original_url %>" target="_blank" class="button is-black ml-2">
            <i class ="fab fa-whatsapp"></i>
          </a>

          <a href="http://www.twitter.com/share?url=<%= @original_url %>" target="_blank" class="button is-black ml-2">
            <i class ="fab fa-twitter"></i>
          </a>

          <a href="mailto:?subject=ProvisoriMedia&amp;body=ProvisoriMedia <%= @original_url %>" target="_blank" class="button is-black ml-2">
            <i class ="far fa-envelope"></i>
          </a>

        </div>

      </div>

      <div class="mt-5">
        <h3><%= I18n.translate('comments') %> </h3>
        <div class="m-3" id="commentList">
          <% if article.comments.present? %>
            <% @comments.each do |comment| %>
              <article class="media" id="comment-id<%= comment.id %>">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <% if comment.user.avatar.present? %>
                      <img src="<%= comment.user.avatar %>">
                    <% else %>
                      <i class="fas fa-user fa-3x"></i>
                     <% end %>
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= comment.user.username %> </strong><%= time_ago_in_words(comment.created_at) %></small>
                      <br>
                      <em><%= comment.body %></em>
                    </p>
                  </div>
                </div>
                <div class="media-right">
                  <% if can_edit?(comment) %>
                    <%= link_to "Supprimer le commentaire", comment_path(comment), class: 'delete', method: :delete, remote: true %>
                  <% end %>
                </div>
              </article>
            <% end %>
          <% end %>
          <p class="mb-3"><%= I18n.translate('comment') %> </p>
          <%= form_for([@article, @article.comments.build]) do |form| %>
            <fieldset>
              <%= form.text_area(:body, class: 'textarea', rows: 3) %>
            </fieldset>
            <fieldset class="">
              <%= form.submit I18n.translate('comment_send'), class: 'button is-primary mt-3' %>
            </fieldset>
        <% end %>
        </div>
        <% if current_user_role == 'registered' %>
        <% end %>
      </div>

      <% if current_user_role == 'admin' %>

        <div class="mt-5 is-flex is-flex-wrap-wrap is-justify-content-space-between	">

          <div class="mt-3 ml-5">
            <%= link_to 'Editer', edit_article_path(article), class: 'button is-black' %>
          </div>

          <div class="mt-3 ml-5">
            <%= form_for article do |f| %>
              <% if @article.published %>
                <%= f.submit "Retirer l'article", class: 'button is-danger' %>
              <% else %>
                <%= f.submit "Publier l'article", class: 'button is-primary' %>
              <% end %>
            <% end %>
          </div>

          <div class="mt-3 ml-5">
            <% if @article.published %>

              <%= link_to 'Annuler', "/#{I18n.locale }/home", class: 'button is-info' %>

            <% else %>

              <%= link_to 'Annuler', articles_path, class: 'button is-info' %>

            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
