<div class="half-page">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content"><br>
          <h1 class="title"><%= @article.title %> </h1>
          <p class="subtitle is-6">Thomas Pfefferlé</p>
        </div>
        <div class="media-right">
          <em><i class="fas fa-heart fa-1x is-black"></i>
            <% if @article.likes.count <= 1 %>
              <%= @article.likes.count %> personne a aimé cet article
            <% else %>
              <%= @article.likes.count %> personnes ont aimés cet article
            <% end %>
          </em>
        </div>
      </div>

      <br>
      </span>

      <div id="new_elements">

        <% if @article.elements.present?

          @article.elements.each do |element| %>

            <%= render partial: 'elements_show', locals: { element: element } %>

          <% end %>

        <% end %>

        <div class="display is-inline-flex mt-5">

          <p> <strong>Vous avez aimé cet article ? </strong> </p>


          <% if logged_in? %>

            <span class="p-3 mt-2_negative">

              <% if @article.liked?(current_user) %>
                <i class="fas fa-heart fa-2x"></i>
              <% else %>
                <%= link_to raw('<i class="far fa-heart fa-2x is-black"></i>'),
                  like_path(@article),
                  method: "put"
                   %>
              <% end %>

            <% end %>
          </span>

        </div>

        <p class="mt-5"> <em>Partagez: </em></p>

        <div class="display is-flex mt-3">

          <a href="https://www.facebook.com/sharer/sharer.php?u=qualia4.com" target="_blank" class="button is-black">
            <i class ="fab fa-facebook"></i>
          </a>
          <a href="whatsapp://send?u=qualia4.com" target="_blank" class="button is-black ml-2">
            <i class ="fab fa-whatsapp"></i>
          </a>

          <a href="http://www.twitter.com/share?url=https://qualia4.com" target="_blank" class="button is-black ml-2">
            <i class ="fab fa-twitter"></i>
          </a>

          <a href="mailto:?subject=I wanted you to see this site&amp;body=Check out this site http://www.website.com." target="_blank" class="button is-black ml-2">
            <i class ="far fa-envelope"></i>
          </a>

        </div>

      </div>

      <div class="mt-5">
        <h3>Commentaires</h3>
        <div class="m-3" id="commentList">
          <% if article.comments.present? %>
            <% @article.comments.each do |comment| %>
              <article class="media" id="comment-id<%= comment.id %>">
                <figure class="media-left">
                  <p class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png">
                  </p>
                </figure>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong><%= comment.user.name %> <%= comment.user.last_name %> </strong><%= time_ago_in_words(comment.created_at) %></small>
                      <br>
                      <%= comment.body %>
                    </p>
                  </div>
                </div>
                <div class="media-right">
                  <% if can_edit?(comment) %>
                    <%= link_to "Supprimer le commentaire", comment_path(comment), class: 'delete', method: :delete, remote: true %>
                  <% end %>
                </div>
              </article>
            <% end %>
          <% end %>
          <p class="mb-3">Ajouter un commentaire</p>
          <%= form_for([@article, @article.comments.build]) do |form| %>
            <fieldset>
              <%= form.text_area(:body, class: 'textarea', rows: 3) %>
            </fieldset>
            <fieldset class="">
              <%= form.submit 'Commenter', class: 'button is-primary mt-3' %>
            </fieldset>
        <% end %>
        </div>
        <% if current_user_role == 'registered' %>
        <% end %>
      </div>

      <% if current_user_role == 'admin' %>

        <div class="mt-5 is-flex is-justify-content-space-between	">

          <div class="mt-3 ml-5">
            <%= link_to 'Editer', edit_article_path(article), class: 'button is-black' %>
          </div>

          <div class="mt-3 ml-5">
            <%= link_to 'Annuler', articles_path, class: 'button is-danger' %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
