  <% if current_user_role == 'admin' %>
    <div class="card grid-system-admin">
      <div class="card grid-system-card-admin">
  <% else %>
    <div class="card grid-system">
      <div class="card grid-system-card">
  <% end %>
    <div class="card-image">
      <figure class="image is-4by3">
        <% if article.image.present? %>
           <img class="avatar" src="<%= article.image %>">
        <% else %>
          <img src="https://provisorimedia-elements.s3.amazonaws.com/Thomas.jpg" alt="Placeholder image" class="rounded">
        <% end %>
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://provisorimedia-elements.s3.amazonaws.com/Thomas.jpg" alt="Placeholder image" class="rounded">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4"><%= article.title %></p>
          <p class="subtitle is-6">Thomas Pfefferlé</p>
        </div>
      </div>

      <br>
      <%= link_to("Construire", edit_article_path(article), class:"button is-black") %>
      <br>
      <% if current_user_role == 'admin' %>
        <%= form_for article do |f| %>
          <%= f.submit "Publier l'article", class: 'button is-info' %>
        <% end %>

        <%= link_to "Supprimer l'article", article_path(article), class: 'button is-danger is-fullwidth mt-3_negative', method: :delete %>

      <% end %>
    </div>
  </div>
</div>
