<div class="half-page">
  <div class="card">
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content"><br>
          <h1 class="title"><%= @article.title %> </h1>
          <p class="subtitle is-6">Thomas Pfefferlé</p>
        </div>
      </div>

      <br>
      </span>

      <div id="new_elements">

        <% if @article.elements.present?

          @article.elements.each do |element| %>

            <%= render partial: 'elements_show', locals: { element: element } %>

          <% end %>

        <% end %>

      </div>

      <div class="mt-5">
        <h3>Commentaires</h3>
        <div class="m-3" id="commentList">
          <% if article.comments.present? %>
            <% @article.comments.each do |comment| %>


            <article class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>David</strong> <small>Framorando</small> <small><%= comment.created_at %></small>
                    <br>
                    <%= comment.body %>
                  </p>
                </div>
              </div>
              <div class="media-right">
                <%= link_to "Supprimer le commentaire", comment_path(comment), class: 'delete', method: :delete %>
              </div>
            </article>
            <% end %>
          <% end %>

          <%= form_for([@article, @article.comments.build]) do |form| %>
            <fieldset>
              <%= form.text_area(:body, class: 'textarea', rows: 3) %>
            </fieldset>
            <fieldset class="">
              <%= form.submit class: 'button is-primary' %>
            </fieldset>

        <% end %>
        </div>
        <% if current_user_role == 'registered' %>
          <p>Ajouter un commentaire</p>
        <% end %>
      </div>

      <% if current_user_role == 'admin' %>

        <div class="mt-5 is-flex is-justify-content-space-between	">

          <div class="mt-3 ml-5">
            <%= link_to 'Editer', edit_article_path(article), class: 'button is-dark' %>
          </div>

          <div class="mt-3 ml-5">
            <%= link_to 'Annuler', articles_path, class: 'button is-danger' %>
          </div>

        </div>
      <% end %>
    </div>
  </div>
