<!-- check whether there is an enigme in the database -->
<% if enigme.present? %>

  <!-- check whether the winner should be displayed -->
  <% if enigme.is_display == false %>
    <p class="has-text-centered"><%= enigme.question %></p>
    <p class="has-text-centered">Réponse: <em><%= enigme.response %></em></p>
    <p class="has-text-centered"><i class="fas fa-trophy fa-lg mr-1">
    <% if @winner.username.present? %>
      </i>Le gagnant de la semaine est: <%= @winner.username %>.</p>
    <% end %>
    
  <!-- the enigme should be displayed -->
  <% else %>

    <!-- the user got the correct response -->
    <% if has_found == true %>
      <div class="has-text-centered">
        <i class="fas fa-gift fa-2x"></i> <%= I18n.translate('winner') %>
      </div>

    <!-- the user did not get the correct response and can attempt to find it-->
    <% else %>
      <p class="has-text-centered"><%= enigme.question %></p>
      <div class="p5 has-text-centered">
      <%= form_for game, :url => { :action => "check_response" }, html: { class: 'width-response has-text-centered' } do |form| %>
        <fieldset>
          <%= form.text_area(:response, class: 'textarea', rows: 3) %>
        </fieldset>
        <fieldset>
          <%= form.submit I18n.translate('resp'), class: 'button is-primary mt-3' %>
        </fieldset>
      <% end %>
    </div>
    <% end %>

    <% end %>

<!-- there is no enigma in the database -->
<% else %>

  <p class="has-text-centered"><%= I18n.translate('no_enigma') %> </p>

<% end %>
