<div class="footer__container">

  <div class="footer__menu">

    <a href="/article?q=1" class="navbar-item">
      <%= I18n.translate('likeb') %>
    </a>

    <a href="/article?q=2" class="navbar-item">
      <%= I18n.translate('artists') %>
    </a>

    <a href="/article?q=3" class="navbar-item">
      <%= I18n.translate('stories') %>
    </a>

    <a href="/article?q=4" class="navbar-item">
      <%= I18n.translate('tinder') %>
    </a>

    <a href="/article?q=5" class="navbar-item">
      <%= I18n.translate('zen') %>
    </a>

    <a href="/article?q=6" class="navbar-item">
      <%= I18n.translate('spoiler') %>
    </a>

    <a href="/game" class="navbar-item">
      <%= I18n.translate('game') %>
    </a>

  </div>

  <div class="footer__socialmedia">

    <!-- Facebook, Twitter and Instagram pages, needed to be created -->

    <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>

    <a href=""><i class="fab fa-instagram fa-2x"></i></a>

    <a href=""><i class="fab fa-twitter fa-2x"></i></a>

  </div>

  <div class="footer__locale">

    <% I18n.available_locales.each do |locale| %>
      <%= link_to locale, url_for(locale: locale) %> |
    <% end %>

  </div>

  <div class="footer__copyright mt-3">

    	&copy; 2021 PROVISORIMEDIA

  </div>

<div>
