<a href="/<%=I18n.locale%>/article?q=1" class="navbar-item">
  <%= I18n.translate('likeb') %>
</a>

<a href="/<%=I18n.locale%>/article?q=2" class="navbar-item">
  <%= I18n.translate('artists') %>
</a>

<a href="/<%=I18n.locale%>/article?q=3" class="navbar-item">
  <%= I18n.translate('stories') %>
</a>

<a href="/<%=I18n.locale%>/article?q=4" class="navbar-item">
  <%= I18n.translate('tinder') %>
</a>

<a href="/<%=I18n.locale%>/article?q=5" class="navbar-item">
  <%= I18n.translate('zen') %>
</a>

<a href="/<%=I18n.locale%>/article?q=6" class="navbar-item">
  <%= I18n.translate('spoiler') %>
</a>

<a href="/<%=I18n.locale%>/game" class="navbar-item">
  <%= I18n.translate('game') %>
</a>
