<header>

  <nav class="navbar mt-3 is-flex-wrap-wrap" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <strong>PROVISORI Media</strong>
      </a>

      <button class="navbar-item button is-black mt-3 ml-1 menu" id = "openNav3">
        <i class="fas fa-bars is-light"></i>
      </button>

    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">

        <a href="/article?q=1" class="navbar-item">
          <%= I18n.translate('likeb') %>
        </a>

        <a href="/article?q=2" class="navbar-item">
          <%= I18n.translate('artists') %>
        </a>

        <a href="/article?q=3" class="navbar-item">
          <%= I18n.translate('stories') %>
        </a>

        <a href="/article?q=4" class="navbar-item">
          <%= I18n.translate('tinder') %>
        </a>

        <a href="/article?q=5" class="navbar-item">
          <%= I18n.translate('zen') %>
        </a>

        <a href="/article?q=6" class="navbar-item">
          <%= I18n.translate('spoiler') %>
        </a>

        <a href="/game" class="navbar-item">
          <%= I18n.translate('game') %>
        </a>

      </div>

      <div class="navbar-end mr-3">
        <button class="navbar-item button is-black mt-3" id = "openNav">
          <i class="fas fa-search"></i>
        </button>

        <button class="navbar-item button is-black mt-3 ml-1" id = "openNav2">
          <i class="fas fa-bars is-light"></i>
        </button>
      </div>

    </div>
    <div id="mySidenav" class="sidenav">
      <div class="p-3">
        <a href="javascript:void(0)" class="closebtn" id="closeNav">&times;</a>
        <div class="field has-addons mt-5">
          <div class="control">
            <input class="input is-medium" type="text" placeholder="<%= I18n.translate('search') %>">
          </div>
          <div class="control">
            <a class="button is-medium">
              <i class="fas fa-search"></i>
            </a>
          </div>
        </div>
        <div class="sidenav__menu">
          <a href="/article?q=1" class="navbar-item">
            <%= I18n.translate('likeb') %>
          </a>

          <a href="/article?q=2" class="navbar-item">
            <%= I18n.translate('artists') %>
          </a>

          <a href="/article?q=3" class="navbar-item">
            <%= I18n.translate('stories') %>
          </a>

          <a href="/article?q=4" class="navbar-item">
            <%= I18n.translate('tinder') %>
          </a>

          <a href="/article?q=5" class="navbar-item">
            <%= I18n.translate('zen') %>
          </a>

          <a href="/article?q=6" class="navbar-item">
            <%= I18n.translate('spoiler') %>
          </a>

          <a href="/game" class="navbar-item">
            <%= I18n.translate('game') %>
          </a>
        </div>
        <div>
          <!-- Contact page needed to be implemented -->
          <%= link_to "Contact", "/", class: 'button is-medium mt-5' %>
          <%= link_to 'Profil',  user_path(current_user_id), class: 'button is-medium mt-1', role: 'button' %>
          <%= link_to(I18n.translate('logout'), session_path(1), method: :delete, class: 'button is-primary is-medium mt-1') %>
        </div>
      </div>
    </div>
  </nav>
  <hr />
</header>
